$primary-color: #5b5b5b;
$purple-border: #660099;
$yellow-border:#ffcc33;
$bg-color: #1a1a1a;
$border-color: #444;
$text-color: #f0f0f0;
$text-secondary: #ccc;
$shadow-color: rgba(0, 0, 0, 0.3);
$avatar-border: #888;